.select2-container.select2-drop-above .select2-choice {
  background-color: #66afe9;
  border-bottom-color: #cccccc;
}
.select2-container-multi .select2-choices {
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.select2-container-multi .select2-choices .select2-search-field input {
  color: #555555;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #ffffff;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #66afe9;
}
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #66afe9;
}
.select2-container .select2-choice {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.select2-container .select2-choice[disabled],
.select2-container .select2-choice[readonly],
fieldset[disabled] .select2-container .select2-choice {
  background-color: #eeeeee;
}
.select2-container .select2-choice div {
  background-color: #428bca;
  border-left: 1px solid #cccccc;
}
.select2-container .select2-choice .select2-arrow {
  color: #999999;
}
.select2-container .select2-container-disabled .select2-choice {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.select2-container .select2-container-disabled .select2-choice div {
  background-color: #ffffff;
}
.select2-drop {
  background: #ffffff;
  border: 1px solid #66afe9;
  color: #555555;
}
.select2-drop.select2-drop-above {
  border-top: 1px solid #66afe9;
}
.select2-dropdown-open .select2-choice {
  background-color: #333333;
  border: 1px solid #66afe9;
  color: #ffffff;
}
.select2-dropdown-open .select2-choice:hover {
  background-color: #e7e7e7;
  color: #555555;
}
.select2-dropdown-open .select2-choice div .caret {
  border-bottom: 4px solid #eff3ff;
}
.select2-search-choice {
  background-color: #333333;
  color: #ffffff;
}
.select2-search-choice-close {
  color: inherit;
}
.select2-default {
  color: #eeeeee;
}
.select2-more-results {
  background: #ffffff;
}
.select2-more-results.select2-active {
  background: #ffffff;
}
.select2-results li em {
  background: #ffffff;
}
.select2-results li.select2-result-selectable:hover,
.select2-results li.select2-result-selectable:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #ffffff;
}
